In [1]:
import pandas as pd
import numpy as np

In [2]:
canvas = pd.read_csv('canvas.csv').fillna(0)

In [3]:
canvas

,Student,ID,SIS User ID,SIS Login ID,Section,Reading Quiz (3/29) (313368),Reading Quiz (3/31) (314299),Reading Quiz (4/2) (315023),Reading Quiz (4/5) (316205),Reading Quiz (May 24) (328426),...,PA Quizzes Final Score,PA Quizzes Unposted Final Score,Imported Assignments Current Score,Imported Assignments Unposted Current Score,Imported Assignments Final Score,Imported Assignments Unposted Final Score,Current Score,Unposted Current Score,Final Score,Unposted Final Score
0,Points Possible,0.0,0,0,0,5.0,5.0,5.0,5.0,10.0,...,(read only),(read only),(read only),(read only),(read only),(read only),(read only),(read only),(read only),(read only)
1,"Aguirre, Samuel",109581.0,A16687170,saguirre,DSC 30 - A01 [42017],5.0,5.0,5.0,5.0,10.0,...,100,100,100,100,100,100,85.86,85.86,85.86,85.86
2,"Ahmann, Nathan",63454.0,A15941151,nahmann,DSC 30 - A01 [42017],5.0,5.0,5.0,5.0,10.0,...,100,100,100,100,100,100,96.48,96.48,96.48,96.48
3,"Ahmed, Tonoya",108059.0,A16672415,ttahmed,DSC 30 - A01 [42017],5.0,5.0,5.0,4.5,10.0,...,100,100,100,100,100,100,84.64,84.64,84.64,84.64
4,"Ali, Rehan",101023.0,A16211966,rmali,DSC 30 - A01 [42017],4.0,5.0,5.0,4.0,10.0,...,100,100,100,100,100,100,73.8,73.8,73.8,73.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,"Yu, Zhaoyi",80694.0,A15901415,zhy003,DSC 30 - A01 [42017],5.0,5.0,5.0,4.5,10.0,...,100,100,100,100,100,100,96.46,96.46,96.46,96.46
147,"Zavalza, Diego",94360.0,A16193208,dzavalza,DSC 30 - A01 [42017],4.0,5.0,5.0,4.5,10.0,...,100,100,100,100,100,100,82.12,82.12,82.12,82.12
148,"Zeng, Taylor",102480.0,A16379175,tczeng,DSC 30 - A01 [42017],5.0,5.0,5.0,5.0,10.0,...,97.5,97.5,100,100,50,50,71.13,71.13,66.96,66.96
149,"Zhi, Xuzhe",99661.0,A16326028,xzhi,DSC 30 - A01 [42017],5.0,5.0,5.0,5.0,10.0,...,100,100,100,100,100,100,99.53,99.53,99.53,99.53
150,"Student, Test",139419.0,0,9cd8f74bd5429f2668da4cd38814aaa3612ce07f,DSC 30 - A01 [42017] and DSC 30 - DataStrc/Alg...,0.0,0.0,0.0,0.0,1.0,...,0,0,0,0,0,0,2.86,2.86,0.06,0.06

In [4]:
canvas = canvas.loc[:,canvas.apply(lambda x: x.iloc[0] != '(read only)')]

In [5]:
pa = [i for i in canvas.columns if 'PA' in i and 'quiz' not in i.lower()]
print(pa)
pa = canvas[pa].apply(lambda x: x/x.iloc[0]*100)
pa = pa.apply(lambda x: x.mean(),axis=1)
canvas['PA Total with Cap'] = pa.apply(lambda x: 100 if x> 100 else x)
canvas['PA Total'] = pa

['PA1 (327280)', 'PA2 (327275)', 'PA3 (327279)', 'PA4 (327277)', 'PA5 (327278)', 'PA6 (331865)', 'PA7 (331863)', 'PA8 (333431)', 'PA9 (334771)', 'PA10 (334770)']

/Users/elvychen/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/elvychen/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [6]:
canvas.columns

Index(['Student', 'ID', 'SIS User ID', 'SIS Login ID', 'Section',
       'Reading Quiz (3/29) (313368)', 'Reading Quiz (3/31) (314299)',
       'Reading Quiz (4/2) (315023)', 'Reading Quiz (4/5) (316205)',
       'Reading Quiz (May 24) (328426)', 'zybook_04_07 (321473)',
       'zybook_04_09 (321472)', 'zybook_04_12 (321469)',
       'zybook_04_14 (321471)', 'zybook_04_16 (321475)',
       'zybook_04_19 (321474)', 'zybook_04_21 (321470)',
       'zybook_04_26 (327272)', 'zybook_04_28 (327274)',
       'zybook_04_30 (327271)', 'Reading Quiz (May 21) (328095)',
       'zybook_05_03 (327270)', 'zybook_05_05 (327268)',
       'Reading Quiz (5/7) (324704)', 'zybook_05_10 (327269)',
       'zybook_05_12 (327273)', 'zybook_05_17 (331888)',
       'zybook_05_19 (331889)', 'Reading Quiz (5/26) (330366)',
       'zybook_05_28 (331887)', 'Quiz0 (312352)',
       'Participation Quiz (3/29) (313398)',
       'Participation Quiz (3/31) (314902)',
       'Participation Quiz (4/2) (315410)',
       'Participation Quiz (4/5) (315802)',
       'Participation Quiz (4/7) (316570)',
       'Participation Quiz (4/9) (317591)',
       'Participation Quiz (4/14) (318776)',
       'Participation Quiz (4/16) (319173)',
       'Participation Quiz (4/12) (318116)',
       'Participation Quiz (4/21) (320662)',
       'Participation Quiz 04/19 (320395)',
       'Participation Quiz (4/26) (321856)',
       'Participation Quiz (4/30) (322998)',
       'Participation Quiz (4/28) (322457)',
       'Participation Quiz (5/3) (323685)',
       'Participation Quiz (5/5) (324519)',
       'Participation Quiz (5/10) (325548)',
       'Participation Quiz (5/12) (326408)',
       'Participation Quiz (5/17) (327325)',
       'Participation Quiz (5/19) (327934)',
       'Participation Quiz (5/21) (328001)',
       'Participation Quiz (5/24) (328936)',
       'Participation Quiz (5/26) (329928)',
       'Participation Quiz (5/28) (330549)', 'Discussion Worksheet 1 (315373)',
       'Discussion Worksheet 2 (315731)', 'Discussion Worksheet 3 (319283)',
       'Discussion Worksheet 4 (320959)', 'Discussion Worksheet 5 (322133)',
       'Discussion Worksheet 6 (324514)', 'Discussion Worksheet 7 (326418)',
       'Discussion Worksheet 8 (327927)', 'Discussion Worksheet 9 (330341)',
       'PA1 (327280)', 'PA2 (327275)', 'PA3 (327279)', 'PA4 (327277)',
       'PA5 (327278)', 'PA6 (331865)', 'PA7 (331863)', 'PA8 (333431)',
       'PA9 (334771)', 'PA10 (334770)', 'Midterm1 (327276)',
       'Midterm2 (331864)', 'PA02 Quiz (316163)', 'PA03 Quiz (318132)',
       'PA04 Quiz (320080)', 'PA05 Quiz (322165)', 'PA06 Quiz (323552)',
       'PA07 Quiz (325225)', 'PA08 Quiz (327215)', 'PA09 Quiz (328833)',
       'Participation Quiz (5/7) (324626)', 'Discussion Worksheet 10 (332188)',
       'Redemption Midterm1', 'Redemption Midterm2', 'Final',
       'PA Total with Cap', 'PA Total'],
      dtype='object')

In [7]:
def drop_n_lowest(arr, num):
    arr = list(arr.values)
    deletions = 0
    while deletions < num:
        deletions +=1
        lowest_val = min(arr)
        arr.remove(lowest_val)
    return arr
rq = [i for i in canvas.columns if 'reading quiz' in i.lower() or 'zybook' in i.lower()]
print(rq)
rq = canvas[rq].apply(lambda x: x/x.iloc[0]*100)
rq = rq.apply(lambda x: np.mean(drop_n_lowest(x,3)),axis=1)
canvas['Reading Quiz Total'] = rq

['Reading Quiz (3/29) (313368)', 'Reading Quiz (3/31) (314299)', 'Reading Quiz (4/2) (315023)', 'Reading Quiz (4/5) (316205)', 'Reading Quiz (May 24) (328426)', 'zybook_04_07 (321473)', 'zybook_04_09 (321472)', 'zybook_04_12 (321469)', 'zybook_04_14 (321471)', 'zybook_04_16 (321475)', 'zybook_04_19 (321474)', 'zybook_04_21 (321470)', 'zybook_04_26 (327272)', 'zybook_04_28 (327274)', 'zybook_04_30 (327271)', 'Reading Quiz (May 21) (328095)', 'zybook_05_03 (327270)', 'zybook_05_05 (327268)', 'Reading Quiz (5/7) (324704)', 'zybook_05_10 (327269)', 'zybook_05_12 (327273)', 'zybook_05_17 (331888)', 'zybook_05_19 (331889)', 'Reading Quiz (5/26) (330366)', 'zybook_05_28 (331887)']

/Users/elvychen/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [8]:
mid_s = [i for i in canvas.columns if 'midterm' in i.lower()]
print(mid_s)
mid = canvas[mid_s].apply(lambda x: x/x.iloc[0]*100)
mid = mid.apply(lambda x: x.mean(),axis=1)
canvas['Midterm Total'] = mid

['Midterm1 (281689)', 'Midterm2 (296804)']

/Users/elvychen/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [10]:
part = [i for i in canvas.columns if ('participation' in i.lower() and 'quiz' in i.lower() and 'reading' not in i.lower()) or 'quiz0' in i.lower()]
print(part)
pp = canvas[part].apply(lambda x: x/x.iloc[0]*100)
pp = pp.apply(lambda x: np.mean(drop_n_lowest(x,3)),axis=1)
canvas['Participation Total'] = pp

['Quiz0 (312352)', 'Participation Quiz (3/29) (313398)', 'Participation Quiz (3/31) (314902)', 'Participation Quiz (4/2) (315410)', 'Participation Quiz (4/5) (315802)', 'Participation Quiz (4/7) (316570)', 'Participation Quiz (4/9) (317591)', 'Participation Quiz (4/14) (318776)', 'Participation Quiz (4/16) (319173)', 'Participation Quiz (4/12) (318116)', 'Participation Quiz (4/21) (320662)', 'Participation Quiz 04/19 (320395)', 'Participation Quiz (4/26) (321856)', 'Participation Quiz (4/30) (322998)', 'Participation Quiz (4/28) (322457)', 'Participation Quiz (5/3) (323685)', 'Participation Quiz (5/5) (324519)', 'Participation Quiz (5/10) (325548)', 'Participation Quiz (5/12) (326408)', 'Participation Quiz (5/17) (327325)', 'Participation Quiz (5/19) (327934)', 'Participation Quiz (5/21) (328001)', 'Participation Quiz (5/24) (328936)', 'Participation Quiz (5/26) (329928)', 'Participation Quiz (5/28) (330549)', 'Participation Quiz (5/7) (324626)']

/Users/elvychen/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [11]:
di = [i for i in canvas.columns if 'discussion worksheet' in i.lower()]
print(di)
di = canvas[di].apply(lambda x: x/x.iloc[0]*100)
di = di.apply(lambda x: (x.sum()-x.min())/9,axis=1)
canvas['Discussion Total'] = di

['Discussion Worksheet 1 (315373)', 'Discussion Worksheet 2 (315731)', 'Discussion Worksheet 3 (319283)', 'Discussion Worksheet 4 (320959)', 'Discussion Worksheet 5 (322133)', 'Discussion Worksheet 6 (324514)', 'Discussion Worksheet 7 (326418)', 'Discussion Worksheet 8 (327927)', 'Discussion Worksheet 9 (330341)', 'Discussion Worksheet 10 (332188)']

/Users/elvychen/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [12]:
canvas

,Student,ID,SIS User ID,SIS Login ID,Section,Reading Quiz (3/29) (313368),Reading Quiz (3/31) (314299),Reading Quiz (4/2) (315023),Reading Quiz (4/5) (316205),Reading Quiz (May 24) (328426),...,Participation Quiz (5/7) (324626),Discussion Worksheet 10 (332188),Redemption Midterm1,Redemption Midterm2,Final,PA Total with Cap,PA Total,Reading Quiz Total,Participation Total,Discussion Total
0,Points Possible,0.0,0,0,0,5.0,5.0,5.0,5.0,10.0,...,5.0,5.0,28.0,30.00,88.00,100.000,100.000,100.000000,100.000000,100.000000
1,"Aguirre, Samuel",109581.0,A16687170,saguirre,DSC 30 - A01 [42017],5.0,5.0,5.0,5.0,10.0,...,5.0,5.0,19.5,22.00,61.50,84.830,84.830,100.000000,100.000000,100.000000
2,"Ahmann, Nathan",63454.0,A15941151,nahmann,DSC 30 - A01 [42017],5.0,5.0,5.0,5.0,10.0,...,5.0,5.0,19.0,24.00,68.50,97.500,97.500,100.000000,100.000000,100.000000
3,"Ahmed, Tonoya",108059.0,A16672415,ttahmed,DSC 30 - A01 [42017],5.0,5.0,5.0,4.5,10.0,...,5.0,5.0,23.0,21.00,61.50,80.890,80.890,100.000000,100.000000,100.000000
4,"Ali, Rehan",101023.0,A16211966,rmali,DSC 30 - A01 [42017],4.0,5.0,5.0,4.0,10.0,...,5.0,5.0,25.5,21.00,67.50,69.000,69.000,55.454545,97.391304,100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,"Yu, Zhaoyi",80694.0,A15901415,zhy003,DSC 30 - A01 [42017],5.0,5.0,5.0,4.5,10.0,...,5.0,5.0,27.0,24.00,75.50,100.000,102.200,100.000000,100.000000,100.000000
147,"Zavalza, Diego",94360.0,A16193208,dzavalza,DSC 30 - A01 [42017],4.0,5.0,5.0,4.5,10.0,...,5.0,5.0,26.0,22.75,68.75,79.905,79.905,100.000000,100.000000,100.000000
148,"Zeng, Taylor",102480.0,A16379175,tczeng,DSC 30 - A01 [42017],5.0,5.0,5.0,5.0,10.0,...,5.0,0.0,19.0,23.00,66.00,71.233,71.233,55.454545,100.000000,33.333333
149,"Zhi, Xuzhe",99661.0,A16326028,xzhi,DSC 30 - A01 [42017],5.0,5.0,5.0,5.0,10.0,...,5.0,5.0,25.5,25.25,73.75,100.000,105.150,100.000000,100.000000,100.000000
150,"Student, Test",139419.0,0,9cd8f74bd5429f2668da4cd38814aaa3612ce07f,DSC 30 - A01 [42017] and DSC 30 - DataStrc/Alg...,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.00,0.00,0.000,0.000,0.454545,0.000000,0.000000

In [13]:
canvas.to_csv('final_grade.csv')